<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.tagline.link}}" target="_blank">
            {{vm.tagline.text}}
          </a>
        </li>
        <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png"/>
          </a>
        </li>
        <li>
          <a href="http://www.gulpjs.com/" target="_blank">
            <img src="images/gulp-tiny.png"/>
          </a>
        </li>
        <li><a href="http://www.411.com/name/Jackey-Pantalones" target="_blank">
          <wth-guest name="jackey"></wth-guest>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
