<div ng-controller="Shell as vm">
  <header class="clearfix">
    <ht-top-nav title="vm.title" tagline="vm.tagline"></ht-top-nav>
  </header>
  <section id="content" class="content">
    <div ng-include="'app/layout/sidebar.html'"></div>

    <div ui-view class="shuffle-animation"></div>

    <div ngplus-overlay
         ngplus-overlay-delay-in="50"
         ngplus-overlay-delay-out="700"
         ngplus-overlay-animation="dissolve-animation">
      <img src="../../content/images/busy.gif"/>

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
  </section>
</div>
